# Supabase (จะเชื่อมในรอบถัดไป)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# LINE Developers (จะเชื่อมในรอบถัดไป)
LINE_CHANNEL_ID=
LINE_CHANNEL_SECRET=
LINE_MESSAGING_ACCESS_TOKEN=

# Public URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
